name: Deploy on Release

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Trigger Render Deployment
        env:
          RENDER_PROJECT_ID: ${{ secrets.RENDER_PROJECT_ID }}
          RENDER_TOKEN: ${{ secrets.RENDER_TOKEN }}
        run: |
          curl -X GET "https://api.render.com/deploy/${{ env.RENDER_PROJECT_ID }}?key=${{ env.RENDER_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{}'
